<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">{{ "TEMPLATE.HEADER.NAVBAR.title" | translate }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/department']">
            {{ "TEMPLATE.HEADER.NAVBAR.link.department.label" | translate }}
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/staff']">
            {{ "TEMPLATE.HEADER.NAVBAR.link.staff.label" | translate }}
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="btn btn-outline-light mr-1" [routerLink]="['/login']" role="button">
            {{ "TEMPLATE.HEADER.NAVBAR.button.logout" | translate }}
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
