.container {
  padding: 60px 15px 0;
}

table tbody {
  display: block;
  height: 45vh;
  overflow-y: scroll;
}

table thead, table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.page-link {
  z-index: 1;
  color: #343a40;
}
