<div class="container">
  <div class="row mt-3 mb-2 justify-content-between">
    <div class="col-sm-3 text-left">
      <button class="btn btn-dark float-sm-left " role="button"
          (click)="showAddUpdateDepartmentDialogComponent()">
        {{ "DEPARTMENT.button.addDepartment" | translate }}
      </button>
    </div>
    <div class="col-sm-6 text-right">
      <form action="#" class="form-inline float-sm-right">
        <input class="form-control mr-sm-1" type="text">
        <button class="btn btn-dark my-2 my-sm-0" type="submit">Ara</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table #example class="table" style="width:100%">
        <thead class="table-dark">
          <tr>
            <th style="width: 8%;">{{ "DEPARTMENT.list.table.title.no" | translate }}</th>
            <th>{{ "DEPARTMENT.list.table.title.department" | translate }}</th>
            <th style="width: 17%;">{{ "DEPARTMENT.list.table.title.actions" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let department of data | paginate: config" >
            <td style="width: 8%;">{{department.id}}</td>
            <td>{{department.departmentName}}</td>
            <td style="width: 17%;">
              <button type="button" class="btn btn-dark float-sm-right">{{ "DEPARTMENT.list.table.row.button.delete" | translate }}</button>
              <button type="button" class="btn btn-dark mr-1 float-sm-right" (click)="showAddUpdateDepartmentDialogComponent(department.id, department.departmentName)">
                {{ "DEPARTMENT.list.table.row.button.update" | translate }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      {{"DEPARTMENT.list.table.label.entryCount" | translate }}&nbsp;
      <select #pageSizeSelect [(ngModel)]="pageSize" class="custom-select" style="width: auto;"
          name="pageSizeSelect" (change)="onPageSizeSelected(pageSizeSelect.value)">
        <option *ngFor="let pageSizeOption of pageSizeOptions" [value]="pageSizeOption">
          {{ pageSizeOption }}
        </option>
      </select>
    </div>
    <div class="col-sm-8">
      <pagination-template #p="paginationApi" (pageChange)="getPage($event)">
        <nav>
          <ul class="pagination justify-content-end">
            <li *ngFor="let page of p.pages" class="page-item" [class.active]="p.getCurrent() === page.value">
                <a (click)="p.setCurrent(page.value)" class="page-link" [routerLink]="">
                    {{ page.label }} <span class="sr-only">(current)</span>
                </a>
            </li>
          </ul>
        </nav>
      </pagination-template>
    </div>
  </div>
</div>
